<nav>
 <ul>
    <li>
        <a href="/signup">Sign Up</a>
    </li>
    <li>
        <a href="/login">Login</a>
    </li>
    <li>
        <a href="/logout">Logout</a>
    </li>
    <li>
        <a href="/planner">Go to my tracker</a>
    </li>
 </ul>
</nav>