<nav>
 <ul>
    <% if(locals.user){ %>
        <li>
            <a href="/logout">Logout</a>
        </li>
        <li>
            <a href="/planner">Go to my tracker</a>
        </li>
        <% } else { %>
            <li>
                <a href="/signup">Sign Up</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>


    <%}%>


 </ul>
</nav>