<% console.log(locals)%>
<nav>
 <ul>
    <% if(user){ %>
        <li>
            <a href="/logout">Logout</a>
        </li>
        <li>
           <p><%=userName%></p>
        </li>


        <% } else { %>
            <li>
                <a href="/signup">Sign Up</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/planner">Go to my Planner</a>
            </li>



    <%}%>


 </ul>
</nav>