<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Earnings</title>
</head>
<body>

    <nav>
        <%-include('./partials/nav')%>

    </nav>
    <div class="earning-index">
    <h1>Monthly Earnings </h1>
    <% let total=0 %>
    <ul>
        <% earning.forEach(earning => { %>
            <% total+=parseInt(earning.earnings)%>
            <li>
                <a href="/earnings/<%=earning._id%>">
                    <%=earning.month%>
                </a>
            </li>

       <% }) %>
    </ul>
    <p>Total: <%=total%> </p>
    <nav>
        <a href="/earnings/new">Next Month</a>
        <a href="/planner">Back to Planner</a>
    </nav>
</div>

</body>
</html>