<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Earning</title>
</head>
<body>
    <h1>Create New Earning</h1>
    <form action="/earnings" method="post">

    Month: <input type="text" name="month">
</br>
    Earnings: <input type="text" name="earnings">
</br>

    <input type="submit" value="Adds New Earning">
    </form>

</body>
</html>