<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earnings</title>
</head>
<body>
    <nav>
        <a href="/earnings/new">Next Month</a>
    </nav>
    <h1>Monthly Earnings </h1>

    <ul>
        <% earning.forEach(earning => { %>
            <li>
                <a href="/earnings/<%=earning._id%>">
                    <%=earning.month%>
                </a>
            </li>

       <% }) %>
    </ul>
    <nav>
        <a href="/planner">Back to Planner</a>
    </nav>

</body>
</html>