<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Login</title>
</head>
<body>

    <%-include('./partials/nav')%>
    <div class="login-page">
    <h1>Login Here </h1>
    <% if(error){%>
        <p style="color:red"><%=error %></p>
    <%}%>
    <div class="information">
    <form action="/login" method="POST" autocomplete="off">
        <label>
            Email:
            <input type="email" name="email" required>
        </label>
    </div>
    <div class="information">
        <label>
            Password:
            <input type="password" name="password" required>
        </label>
    </div>
        <input type="submit" value="Login">
    </form>
</div>

</body>
</html>