<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Expense</title>
</head>
<body>
    <h1>Create New Expense</h1>
    <form action="/expenses" method="post">

    Name: <input type="text" name="name">
</br>
    Budget: <input type="text" name="budget">
</br>
    Spent: <input type="text" name="spent">
</br>
    <input type="submit" value="Adds New Expense">
    </form>
</body>
</html>