<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>New Expense</title>
</head>
<body>
    <nav>
        <%-include('./partials/nav')%>
    </nav>
<div class="expense-new">
    <h1>Create New Expense</h1>
    <form action="/expenses" method="post">
<label>
    Name: <input class ='new' type="text" name="name">
</label>
</br>
<label>
    Budget: <input class ='new' type="text" name="budget">
</label>
</br>
<label>
    Spent: <input  class ='new' type="text" name="spent">
</label>
</br>
<label>
    Notes: <input  class ='new' type="text" name="notes">
</label>
</br>
<a class= 'back' href="/planner">Back to Planner</a>
</br>
    <input  class='new' type="submit" value="Adds New Expense">
    </form>
</div>
</body>
</html>