<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savings</title>
</head>
<body>
    <nav>
        <a href="/savings/new">More Savings</a>
    </nav>
    <h1> Savings </h1>

    <ul>
        <% saving.forEach(saving => { %>
            <li>
                <a href="/savings/<%=saving._id%>">
                    <%=saving.month%>
                </a>
            </li>

       <% }) %>
    </ul>
    <nav>
        <a href="/planner">Back to Planner</a>
    </nav>


</body>
</html>