<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Savings</title>
</head>
<body>
    <h1>Edit Savings</h1>
    <form action="/savings/<%=saving._id%>?_method=PUT" method="POST">
        Month: <input type="text" name="month" value="<%=saving.month%>">
        Savings: <input type="text" name="savings" value="<%=saving.savings%>">
        <input type="submit" value="Update Savings">
    </form>


</body>
</html>