<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savings</title>
</head>
<body>
    <nav>
        <a href="/savings">Back to All Savings</a>
    </nav>
    <h1> <%=saving.month%> </h1>
    <p><%=saving.savings%></p>


</body>
</html>