<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Savings</title>
</head>
<body>
    <h1>More Savings</h1>
    <form action="/savings" method="post">

    Month: <input type="text" name="month">
</br>
    Savings: <input type="text" name="savings">
</br>

    <input type="submit" value="Adds Savings">
    </form>
</body>
</html>