<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Savings</title>
</head>
<body>

    <nav>
        <%-include('./partials/nav')%>

    </nav>
    <div class="savings-index">
    <h1> Savings </h1>
    <% let total=0 %>

    <ul>
        <% saving.forEach(saving => { %>
            <% total+=parseInt(saving.savings)%>
            <li>
                <a href="/savings/<%=saving._id%>">
                    <%=saving.month%>
                </a>
            </li>

       <% }) %>
    </ul>
    <p>Total: <%=total%> </p>
    <nav>
        <a href="/savings/new">Add Savings</a>
        <a href="/planner">Back to Planner</a>
    </nav>
</div>

</body>
</html>