<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>New Savings</title>
</head>
<body>
    <nav>
        <%-include('./partials/nav')%>
    </nav>
<div class='saving-new'>
    <h1>More Savings</h1>
    <form action="/savings" method="post">
<label>
    Month: <input  class ='new' type="text" name="month">
</label>
</br>
<label>
    Savings: <input  class ='new' type="text" name="savings">
</label>
</br>
<label>
    Notes: <input class ='new' type="text" name="notes">
</label>
</br>
<a class="back" href="/planner">Back to Planner</a>
</br>
    <input class='new' type="submit" value="Adds Savings">
    </form>
</div>
</body>
</html>