<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Sign Up</title>

</head>
<body>
    <%-include('./partials/nav')%>
    <div class="signup-page">
    <h1>Sign Up </h1>
    <div class="signup-info">
    <form action="/signup" method="POST">
        <label>

            <input type="text" name="name" placeholder="Name">
        </label>
    </br>
        <label>

            <input type="email" name="email" placeholder='Email' required>
        </label>
    </br>
        <label>

            <input type="password" name="password"  placeholder='Password' required>
        </label>
    </br>
        <label>
            <input type="password" name="passwordConf" placeholder='Password Confirmation' required>
        </label>
    </br>
    <div class="enter">
        <input type="submit" value="Sign Up">
    </div>
    </form>
</div>
</div>

</body>
</html>