body{margin: 0;
    background-color: rgb(203, 184, 195);

}



.front-page, .second-page {
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-60%);


}

ul li{
        list-style: none;

}
.entry{
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
}
nav{
    overflow: hidden;
}
.end
{
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
}
.greeting{
    float: center;
    display: block;
    color: black;
    padding: 14px;
   font-weight: bold;
   font-size: 20px;
   font-family:'Trebuchet MS';
   text-transform: uppercase;

}
.intro{
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-60%);

}
.login-page, .signup-page
    {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        height: 50vh;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 400px;
        background-color: white;
        border-radius: 10px;
    }
.login-page h1, .signup-page h1{
    text-align: center;
   border-bottom: 2px solid rgb(203, 184, 195);
   padding-bottom: 15px;
   color: rgb(150, 91, 127);
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}
.login-page form{
    padding: 0 40px;
    box-sizing: border-box;
}


.signup-info input, .information input{
    width: 50%;
    padding: 0px 10px;
    height: 25px;
    font-size: 16px;


}
.signup-info label{
   width: 100%;
   display: block;
   text-align: center;

}
.information label{
    width: 100%;
    display: block;
    text-align: center;
    margin: 10px 0;

}
.enter{
    padding: 10px;
}

.expense-index, .savings-index, .earning-index {
    display: block;
    font-family:'Trebuchet MS';
    font-size: 1rem;
    margin: 10px;
    width: auto;
   height: auto;
    background-color: rgb(168, 139, 156);
    min-width: 180px;
    padding: 20px 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: rgb(81, 50, 69);
    text-align: center;


}

.expense-show, .savings-show{
    display: block;
    font-family:'Trebuchet MS';
    font-size: 1rem;
    margin: 10px;
    width: auto;
   height: auto;
    background-color: rgb(168, 139, 156);
    min-width: 180px;
    padding: 20px 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: rgb(81, 50, 69);
    text-align: center;

}
.earning-show{
    display: block;
    font-family:'Trebuchet MS';
    font-size: 1rem;
    margin: 10px;
    width: auto;
   height: auto;
    background-color: rgb(168, 139, 156);
    min-width: 180px;
    padding: 20px 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: rgb(81, 50, 69);
    text-align: center;

}
.earning-show label , .savings-show label, .expense-show label{
    width: 100%;
    display: block;
    text-align: center;
    margin: 10px 0;

}
